PRODUCT_NAME = AltTabHeadless
PRODUCT_BUNDLE_IDENTIFIER = com.lwouis.alt-tab-macos.headless
INFOPLIST_FILE = Info-headless.plist
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1
EXCLUDED_SOURCE_FILE_NAMES = \
  src/main.swift \
  src/ui/* \
  src/ui/**/* \
  src/logic/events/CliEvents.swift \
  src/logic/SystemPermissions.swift \
  src/logic/events/WindowCaptureEvents.swift \
  src/logic/ATShortcut.swift \
  src/logic/KeyRepeatTimer.swift \
  src/logic/events/KeyboardEvents.swift \
  src/logic/events/KeyboardEventsTestable.swift \
  src/logic/events/MouseEvents.swift \
  src/logic/events/TrackpadEvents.swift \
  src/logic/events/ScrollwheelEvents.swift \
  src/logic/events/CursorEvents.swift \
  src/logic/events/SystemAppearanceEvents.swift \
  src/logic/events/SystemScrollerStyleEvents.swift \
  src/logic/events/UserDefaultsEvents.swift \
  src/logic/AppCenterCrashes.swift \
  src/api-wrappers/Logger.swift \
  src/logic/Preferences.swift \
  src/logic/DebugProfile.swift \
  src/api-wrappers/Bash.swift \
  src/api-wrappers/Markdown.swift \
  src/api-wrappers/HelperExtensionsTestable.swift \
  src/logic/Appearance.swift \
  src/logic/AppearanceTestable.swift \
  src/api-wrappers/MissionControl.swift \
  src/logic/events/DockEvents.swift \
  src/logic/MacroPreferences.swift \
  src/logic/PreferencesMigrations.swift \
  src/headless/shims/WindowCaptureShims.swift \
  src/logic/events/SpacesEvents.swift \
  src/logic/events/ScreensEvents.swift \
  src/headless/shims/InputShims.swift \
  src/headless/shims/DebugMenuShim.swift
